<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="baseUrl" content="{{ absoluteUrl() }}">
  <title>Koi</title>

</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>Koi Treinamentos</p>
      <p>
        Don't know where to start?
      </p>
    </div>
  </section>
</body>
</html>
